html{
    height: 100%;
}
body {
    background: linear-gradient(109.6deg, rgb(151, 213, 255) 11.2%, rgb(255, 155, 185) 91.1%);
}

.header {
    font-family: "Circular", Arial, sans-serif;
    color: rgb(9, 11, 23);
    box-sizing: border-box;
    font-size: 45px;
    font-weight: 650;
    text-align: center;
}

.footer {
    flex-basis: 100%;
    margin-top: 15px;
    height: 90px;
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    


}

.container {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.card1 {
    padding-bottom: 7px;
    box-shadow: 0px 0px 2px 2px black;
    border: 0.1rem solid black;
    border-radius: 0% 0% 5% 5%;




}

.card2 {
    padding-bottom: 7x;
    box-shadow: 0px 0px 2px 2px black;
    border: 0.1rem solid black;
    border-radius: 0% 0% 5% 5%;


}

.cross {
    height: 100px;

    width: 275px;

    flex-basis: 25%;
    text-align: center;
    padding-top: 5%;
    font-size: 55px;
    font-weight: 750;
    margin: 0px 10px 0px 10px;
}

.meme2 {
    height: 300px;
    min-height: 250px;
    width: 275px;
    border: 0.1rem solid bisque;
    flex-basis: 27%;

}

.meme1 {
    height: 300px;
    min-height: 250px;
    width: 275px;
    border: 0.1rem solid bisque;
    flex-basis: 27%;
}

.btn-div {
    display: flex;
}

#like-btn1 {
    margin: 3px 0px 0px 20px;

    background-color: #50d8d7;
    border-radius: 35px;
    padding: 10px;
    font-size: 19px;
    font-weight: 300;
}

#like-btn2 {
    margin: 3px 0px 0px 20px;

    background-color: #50d8d7;
    border-radius: 35px;
    padding: 10px;
    font-size: 19px;
    font-weight: 300;
}

#expand-btn1 {
    margin: 3px 0px 0px 150px;

    background-color: #50d8d7;
    border-radius: 25px;
    padding: 12px;
    font-size: 19px;
    font-weight: 300;
}

#expand-btn2 {
    margin: 3px 0px 0px 150px;

    background-color: #50d8d7;
    border-radius: 25px;
    padding: 12px;
    font-size: 19px;
    font-weight: 300;
}