body {
    background: linear-gradient(109.6deg, rgb(151, 213, 255) 11.2%, rgb(255, 155, 185) 91.1%);
}

.container {
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* 
.card1{
   border: 0.1rem solid black;
    flex-basis: 27%;

}
.card2{
    border: 0.1rem solid black;
     flex-basis: 27%;
 
 } */
.meme1 {
     height: 300px;
     min-height: 250px;
     width: 275px;  
    border: 0.1rem solid black;
    flex-basis: 20%;

}

.meme {
     height: 300px;
     min-height: 250px;
     width: 275px;  
    border: 0.1rem solid black;
    flex-basis: 27%;
}
.button-five {
    margin-top: 5px;
    display: block;
    background-color: #50d8d7;
    border-radius: 30px;
    padding: 12px;
    font-size: 25px;
    font-weight: 300;
  }